body {
  background-color: #0F1A20;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

#menuBar {
  background-color: #F42C04
}

#menuh1 {
  color: #0F1A20;
}

#smallText {
  color: #E2856E;
}

#quote {
  color: #0F1A20;
}

#navColour {
  background-color: #88A2AA
}

#navText {
  color: white;
  font-size: 20px;
}

.centernav {
  text-align: center;
}

#white1 {
  background-color: #E0FBFC;
  padding: 0px;
}

.homePageText {
  text-decoration: underline;
  padding-bottom: 10px;
  text-align: center;
}

.AboutHeader {
  height: 150px;
  text-align: center;
  width: 100%;
  text-decoration: underline;
  color: #0F1A20;
  background-color: #88A2AA;
  padding-top: 30px;
}

#avatar {
  height: 200px;
  width: auto;
  border-radius: 30%;
  padding-left: 30px;
}

#siderBar {
background-color: #88A2AA;
padding-bottom: 25px;
}

#mainBar {
  background-color: blue;
}

h2 {
  border: 2px solid #E0FBFC;
  border-radius: 8px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#profileP {
  text-align: justify;
  font-size: 18px;
  font-style: oblique;
}

#ulSide {
  padding-left: 17px;
  font-size: 24px;
  font-style: oblique;
  text-decoration: underline;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px;
  background-color: #667b82;
  margin-top: 0px;
  color: black;
}

#marginEducaton {
  margin-bottom: 0px;
}

#padP {
  padding-left: 10px;
}

#small {
  color: #E0FBFC;
}

#firstBlock {
  background-color: #667b82;

}

#secondBlock {
  background-color: #88A2AA;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #E0FBFC;
}

#edP {
  text-align: justify;
  color: black;
}

#noPad12 {
  padding: 0px;
}

#thumbnail {
  width: 50px;
  height: 40px;
  float: left;
  padding-top: 10px;
}

#picP {
text-align: center;
font-size: 20px;
color: #667b82;
padding-top: 10px;
}

#picP1 {
text-align: center;
font-size: 20px;
color: #667b82;
padding-top: 10px;
}

.borderPic {
  border: 2px solid #667b82;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
}

.borderPic1 {
  border: 2px solid #667b82;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.borderPic2 {
  border: 2px solid #667b82;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10px;
}

.top {
  text-align: center;
  background-color: #88A2AA;
}
